<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PreEntrega3 - Productos</title>
</head>

<body>
    <header>Primera WEB - CoderHouse</header>
    <nav>
        <a href={% url "inicio" %}>INICIO</a>
        <a href={% url "clientes" %}>CLIENTES</a>
        <a href={% url "productos" %}>PRODUCTOS</a>
    </nav>
    <main>
        <h1>PRODUCTOS</h1>
        <h1>Crear nuevo PRODUCTO</h1>
        <form action={% url "crear_producto"%} method="POST">
            {% csrf_token %}
            <table>
                {{formulario}}
            </table>
            <input type="submit", value="Crear">
        </form>
    </main>
    <footer>
        <div class="grid-container"> 
            <div class="grid-item">
                <p>Página web desarrollada por Pablo Ceballos</p>
                <p>PreEntrega3 - Curso Python Flex [CoderHouse]</p>    
            </div>
            <div class="grid-item">
                <a href={% url "inicio" %}><i style="font-size:28px" class="fa fa-github"></i></a>
            </div>
            <div class="grid-item">
                <a href={% url "inicio" %}><i style="font-size:28px" class="fa fa-linkedin-square"></i></a>    
            </div>
        </div>
    </footer>
</body>
</html>